h1, h2, body, p  {
  font-family: sans-serif;
  color: #fefefe;
  font-size: small;
}
a, h2 a:visited {
  color: #aeaeae;
  text-decoration: none;
}
a:visited {
  color: #333;
}
body {
  background-color: #010101;
  color: #efefef;
}
#header,
#wrapper {
  margin-left:auto;
  margin-right: auto;
}
#wrapper {
  padding: 0 1em;
}
#header {
  display: inline-block;
  padding: 0.5em 1em 0 2em;
  width: auto;
}
#header p { 
  position: absolute;
  left: 9em;
  top: 0.85em;
}
#header h1, p{
  color: #aa4522;;
}
.section {
  font-size: 12px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 30em;
  overflow: hidden;
  width: 26em;
  border: 1px dotted #444;
  padding: 1.1em;
  margin: 1em 0 0.5em 1em;
}
.section_head {
  width: auto;
}
.more {
  text-align: right;
  position: absolute;
  right: 1em;
  top:2em;
}
.entry {
  border-bottom: 1px solid #333;
  padding: 0.2em 0;
  max-width: 25em;
  margin-left:auto;
  margin-right:auto;

}

